<!DOCTYPE html>
<html>
<head>
  <title>Awesome Articles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav' %>
 <%= bootstrap_flash %>
<div class='container'>
  <%= yield %>
</div>

<%= render 'layouts/foot' %>

</body>
</html>
